<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Sign In</h1>
<form name="" action="/missionlist" method="post">
    <table align="center">
<!--        <tr>-->
<!--            <th style="font-family:Arial;">User ID : <input type="text" name="user_id"/></th>-->
<!--        </tr>-->
        <tr>
            <th style="font-family:Arial;">Username: <input type="text" name="username"></th>
        </tr>
        <tr>
            <th style="font-family:Arial;">Password: <input type="password" name="password"></th>
        </tr>
        <tr>
            <th>
                <input type="submit" name="submit" value="Submit" style="font-family:arial;"/>
            </th>
        </tr>
    </table>
</form>
<form name="" action="/signup" method="get">
    <p align="center"><input type="submit" name="sign up" value="Sign up" /></p>
</form>
</body>
</html>